<!DOCTYPE html>
<html>
  <head>
    <title>GigaservicesChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div  class="container">
      <%= render "shared/flash_messages" %>

      <div class="d-flex justify-content-center mt-5 mb-5">
        <%= link_to "Show all users", users_path, class: "btn btn-primary" %>
      </div>

      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
